{% extends 'base.html.twig' %}

{% block title %}Log in
{% endblock %}

{% block body %}
	<form method="post">
		<div class="limiter">
			<div class="container-login100">
				<div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
					<form method="POST" class="login100-form validate-form flex-sb flex-w">
						{% if error %}
							<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
						{% endif %}

						{% if app.user %}
							<div class="mb-3">
								You are logged in as
								{{ app.user.username }},
								<a href="{{ path('app_logout') }}">Logout</a>
							</div>
						{% endif %}
						<span class="login100-form-title p-b-32">
							CONNEXION AU COMPTE
						</span>

						<span class="txt1 p-b-11">
							Email
						</span>
						<div class="wrap-input100  m-b-36" data-validate="Username is required">
							<input class="input100" type="email" name="email" value="{{ last_username }}">
							<span class=""></span>
						</div>

						<span class="txt1 p-b-11">
							Mot de passe
						</span>
						<div class="wrap-input100  m-b-12" data-validate="Password is required">
							<span id="showPass" class="btn-show-pass">
								<i class="fa fa-eye"></i>
							</span>
							<input id="batolisPass" class="input100" type="password" name="password">
							<span class=""></span>
						</div>
						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

						<div class="flex-sb-m w-full p-b-48">
							<div class="contact100-form-checkbox">
								<input class="input-checkbox100" id="ckb1" type="checkbox" name="_remember_me">
								<label class="label-checkbox100" for="ckb1">
									Souviens-toi de moi
								</label>
							</div>

						</div>
						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
						<div class="container-login100-form-btn">
							<button id="booknow" type="submit" class="login100-form-btn">S'identifier</button>
						</div>

					</form>
				</div>
			</div>
		</div>

		<script>
			$('#showPass').click(function () {
            if ($('#batolisPass').attr('type') == 'password') {
            $('#batolisPass').attr('type', 'text');
            } else {
            $('#batolisPass').attr('type', 'password');
            }
            })
		</script>
	{% endblock %}
