{% extends 'formsbase.html.twig' %}

{% block title %}Hello ProduitController!
{% endblock %}

{% block body %}

	<!-- ============================================================== -->
	<!-- wrapper  -->
	<!-- ============================================================== -->
		<div class="dashboard-wrapper"> <div class="container-fluid dashboard-content">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="row">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

							<!-- basic form  -->
							<!-- ============================================================== -->
								<div class="row"> <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
									<div class="section-block" id="basicform">
										<h3 class="section-title">Ajoutez un Produit</h3>

									</div>
									<div class="card">
										<h5 class="card-header">Information</h5>
										<div class="card-body">
											{{ form_start(form, { 'attr': {'class': ''}}) }}
											<div class="form-group">
												<label class="col-form-label">Nom</label>
												{{ form_widget(form.nom, { 'attr': {'class': 'form-control', 'required' : true}}) }}
											</div>
											<div class="form-group">
												<label class="col-form-label">Quantité</label>
												{{ form_widget(form.quantite, { 'attr': {'class': 'form-control', 'value': 1, 'required' : true}}) }}
											</div>
											<div class="form-group">
												<label class="col-form-label">Code-Barres</label>
												{{ form_widget(form.referance, { 'attr': {'class': 'form-control', 'required' : true}}) }}
											</div>
											<div class="form-group">
												<label class="col-form-label">Emplacement</label>
												{{ form_widget(form.emplacement, { 'attr': {'class': 'form-control'}}) }}
											</div>
											<a class="" href="{{path('produit')}}">annuler</a>
											<button type="submit" class="btn btn-primary">Enregistrer</button>
											{{ form_end(form) }}
										</div>

									</div>
								</div>
							</div>
							<!-- ============================================================== -->
							<!-- end basic form  -->

						</div>
					</div>

					<div class="row"></div>
				</div>
			</div>
			<!-- ============================================================== -->
		<!-- footer -->
			<!-- ============================================================== -->

			<!-- ============================================================== -->
			<!-- end footer -->
			<!-- ============================================================== -->
		</div>
	</div>
{% endblock %}
