<!--[if lte IE 9]>
            
        <![endif]-->

<!-- header-start -->
<header>

    <div class="header-area ">
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid">
                <div class="header_bottom_border">
                    <div class="row align-items-center">
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo">
                                <a href="{{path('home')}}">
                                    <img src="{{asset('img/Logo.png')}}" alt="Batolis Logo" style="max-width: 100px;">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a class="dropdown-header" href="#">Stock</a>
                                            <ul class="submenu">
                                                <li><a class="" href="{{path('produit')}}">Afficher les produits</a></li>
                                                <li><a class="" href="{{path('add_produit')}}">Ajouter un produit</a><li>
                                                <li><a class="" href="{{path('add_emplacement')}}">Ajouter un emplacement</a><li>
                                                <li><a class="" href="{{path('soldout_produit')}}">Produits  en repture de stock</a><li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Commandes</a></li>
                                        <li><a class="" href="#">Fournisseurs</a>
                                            <ul class="submenu">
                                                test
                                            </ul>
                                        </li>
                                        <li><a class="dropdown-header" href="#">Clients</a>
                                            <ul class="submenu">
                                                <li><a class="" href="{{path('clients')}}">Lister les clients</a></li>
                                                <li><a class="" href="{{path('find_black_list_clients')}}">Black-lister un client</a><li>
                                            </ul>
                                        </li>
                                        <li><a class="" href="#">Prestataires</a></li>
                                        
                                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                            
                                                <li style="float: right;" ><a class="dropdown-header"  href="#">{{app.user.Username}}</a>
                                                    <ul class="submenu">
                                                        <li><a class="" href="{{path('app_logout')}}">Se déconnecter</a></li>
                                                    </ul>
                                                </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>
<!-- header-end -->